@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.front {
  background: #fff;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: slide 0.8s ease-in-out;
          animation: slide 0.8s ease-in-out;
}

.front p {
  padding-left: 15vw;
  padding-top: 40vh;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.2;
}

.front p span {
  font-weight: 600;
  background: -webkit-gradient(linear, left top, right top, from(#21D4FD), to(#B721FF));
  background: linear-gradient(to right, #21D4FD, #B721FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 720px) {
  .front p {
    padding-left: 10vw;
    font-size: 35px;
  }
}

.front .more {
  margin-left: 15vw;
  width: 175px;
  padding: 5px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 27px;
  line-height: 32px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, from(#21D4FD), to(#B721FF));
  background: linear-gradient(to right, #21D4FD, #B721FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -o-border-image: linear-gradient(to right, #21D4FD, #B721FF);
     border-image: -webkit-gradient(linear, left top, right top, from(#21D4FD), to(#B721FF));
     border-image: linear-gradient(to right, #21D4FD, #B721FF);
  border-image-slice: 1;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.front .more:hover {
  background: -webkit-gradient(linear, left top, right top, from(#21D4FD), to(#B721FF));
  background: linear-gradient(to right, #21D4FD, #B721FF);
  -webkit-background-clip: none;
  -webkit-text-fill-color: white;
}

.front .more:focus {
  outline: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (max-width: 720px) {
  .front .more {
    width: 150px;
    margin-left: 10vw;
    font-size: 20px;
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slide {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.expanded {
  margin: 0;
  padding: 0;
}

.expanded .background {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -500;
}

@media (max-width: 720px) {
  .expanded .background {
    content: url("./background2.svg");
  }
}

.details {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -500;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

@media (max-width: 720px) {
  .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.details .profile {
  width: 50vw;
}

@media (max-width: 720px) {
  .details .profile {
    margin-top: 9vw;
    width: 80vw;
  }
}

.details .profile .profilePic {
  position: relative;
  top: 10vw;
  left: 10vw;
  margin: 0;
  padding: 0;
  width: 20vw;
}

@media (max-width: 720px) {
  .details .profile .profilePic {
    left: 25vw;
    width: 45vw;
  }
}

.details .profile div {
  position: relative;
  top: 10vw;
  left: 11vw;
  margin-top: 1vw;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.details .profile div:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.details .profile div h3 {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5vw;
  line-height: 1.1;
}

@media (max-width: 720px) {
  .details .profile div h3 {
    font-size: 8vw;
  }
}

.details .profile div h3.designation {
  font-size: 2vw;
  margin-left: 7vw;
}

@media (max-width: 720px) {
  .details .profile div h3.designation {
    margin-left: 25vw;
    font-size: 5vw;
  }
}

.details .profile img {
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.details .profile img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.details .profile img.git {
  width: 4vw;
  top: 12vw;
  left: 28vw;
}

@media (max-width: 720px) {
  .details .profile img.git {
    width: 8vw;
    top: 12vw;
    left: 64vw;
  }
}

.details .profile img.fb {
  width: 4.1vw;
  top: 10vw;
  left: 28vw;
}

@media (max-width: 720px) {
  .details .profile img.fb {
    width: 8vw;
    top: 9vw;
    left: 65vw;
  }
}

.details .profile img.insta {
  width: 4.7vw;
  top: 5.5vw;
  left: 26vw;
}

@media (max-width: 720px) {
  .details .profile img.insta {
    width: 10vw;
    top: 0vw;
    left: 62vw;
  }
}

.details .profile img.linkedin {
  width: 5vw;
  top: 0vw;
  left: 19vw;
}

@media (max-width: 720px) {
  .details .profile img.linkedin {
    width: 12vw;
    top: -14vw;
    left: 50vw;
  }
}

.details .services {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

@media (max-width: 720px) {
  .details .services {
    margin-top: 15vw;
  }
}

.details .services .serviceHeader {
  margin-top: 10vw;
  margin-bottom: 0;
  font-size: 3vw;
}

@media (max-width: 720px) {
  .details .services .serviceHeader {
    margin-top: 15vw;
    margin-left: 2vw;
    font-size: 5vw;
  }
}

.details .services .serviceGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

@media (max-width: 720px) {
  .details .services .serviceGrid {
    margin-left: 5vw;
    margin-top: 2vw;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
}

.details .services .serviceGrid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 5px;
  -ms-flex-item-align: center;
      align-self: center;
}

.details .services .serviceGrid div img {
  width: 5vw;
  height: 5vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 720px) {
  .details .services .serviceGrid div img {
    width: 13vw;
    height: 13vw;
  }
}

.details .services .serviceGrid div .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin-left: 5px;
  justify-items: center;
  line-height: 1.3;
}

.details .services .serviceGrid div .description h5 {
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
}

@media (max-width: 720px) {
  .details .services .serviceGrid div .description h5 {
    font-size: 3vw;
  }
}

.details .services .serviceGrid div .description p {
  margin: 0;
  padding: 0;
  font-size: 1vw;
}

@media (max-width: 720px) {
  .details .services .serviceGrid div .description p {
    font-size: 2vw;
  }
}

.contacts {
  position: relative;
  top: 58vw;
  left: 70vw;
  width: 25vw;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 720px) {
  .contacts {
    top: 189vw;
    left: 43vw;
    width: 50vw;
  }
}

.contacts h2 {
  margin: 0;
  padding: 0;
  font-size: 3vw;
}

@media (max-width: 720px) {
  .contacts h2 {
    font-size: 7vw;
  }
}

.contacts h4 {
  margin: 0;
  margin-left: 1vw;
  padding: 0;
  font-size: 1.3vw;
}

@media (max-width: 720px) {
  .contacts h4 {
    font-size: 2.5vw;
  }
}

.contacts .contactMe img {
  position: absolute;
  width: 6vw;
  top: -2vw;
  left: 18vw;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 720px) {
  .contacts .contactMe img {
    width: 10vw;
    top: -1vw;
    left: 41vw;
  }
}

.contacts .contactMe img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contacts .cd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 6vw;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

@media (max-width: 720px) {
  .contacts .cd {
    margin-left: 11vw;
  }
}

.contacts .cd:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contacts .cd img {
  width: 2vw;
}

@media (max-width: 720px) {
  .contacts .cd img {
    width: 4vw;
  }
}

.contacts .cd a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=style.css.map */